{% extends 'base_generic.html' %}
{% block content %}


    <div class="container">
        <strong>User Name: {{ user.username }}</strong>
        <strong><br>First Name: {{ user.first_name }}</strong>
        <strong><br>Last Name: {{ user.last_name }}</strong>

    </div>
   <h4>Post list</h4>
      {% for blog in object_list %}
        <div class="container-sm-2">
           <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title|title }}</a></h4>
                {% endfor %}
            </div>
{% endblock %}
